* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.header_container {
  display: flex;
  background-color: #dddddd;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}
