* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.actions {
  display: flex;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.header_container {
  display: flex;
  background-color: #dddddd;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.addForm {
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

.updateDiv {
  text-align: center;
  margin: 130px auto;
}

h3 {
  text-align: center;
  color: red;
}

.tables {
  width: 800px;
  margin: 0 auto;
  table-layout: fixed;
}